Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: eslint
  entry: yarn -s eslint
  args:
  - --fix
  description: An AST-based pattern checker for JavaScript.
  language: system

pylint:
  name: pylint
  entry: ./pp pylint
  language: system
  args:
  - -rn
  - -sn

rename method
  src/python/zigopt/handlers/experiments/create.py
Due: pylint

remove redundant docstrings
  src/python/zigopt/handlers/experiments/create.py
Due: pylint

verbose rename
  src/python/zigopt/handlers/experiments/create.py
Due: pylint

fix with_microseconds
  src/python/zigopt/common/sigopt_datetime.py
Due: pylint

install sigopt-config from github
  Pipfile
  Pipfile.lock
Due: none

remove config broker and sources
  src/python/zigopt/config/__init__.py
  src/python/zigopt/config/broker.py
  src/python/zigopt/config/source.py
Due: pylint

remove config broker tests
  test/python/sigopttest/config/__init__.py
  test/python/sigopttest/config/broker.py
Due: pylint

python sigopt_config replacement
  .circleci/config.yml
  .env
  .pyrepl.py
  DEVELOPMENT.md
  Pipfile
  Pipfile.lock
  ci/compose.sh
  ci/compose_test.sh
  docker-compose.dev.yml
  docker-compose.yml
  scripts/compile/generate_routes.sh
  scripts/launch/setup_env.sh
  setup.sh
  src/python/zigopt/api/documentation.py
  src/python/zigopt/api/main.py
  src/python/zigopt/common/conversions.py
  src/python/zigopt/config.py
  src/python/zigopt/json/builder/invite.py
  src/python/zigopt/json/builder/invite_base.py
  src/python/zigopt/json/builder/pending_permission.py
  src/python/zigopt/queue/api.py
  src/python/zigopt/utils/create_database.py
  start.sh
  test/integration/conftest.py
  test/integration/service/suggestion/broker/queued/fallback_suggestion.py
  test/python/sigopttest/api/auth.py
  test/python/sigopttest/base/config_broker.py
  test/python/sigopttest/db/service.py
  test/python/sigopttest/optimize/sources/base_test.py
  test/python/sigopttest/optimize/sources/categorical_test.py
  test/python/sigopttest/suggestion/broker/base.py
  test/python/sigopttest/suggestion/sampler/sampler.py
  test/test_dev_env.sh
  test/test_runner.py
  tools/dead-code/run_vulture.py
Due: pylint

enable mypy on more files
  .pre-commit-config.yaml
Due: none

web data fix
  src/python/zigopt/handlers/web_data/create.py
Due: pylint

fix training run handler
  src/python/zigopt/common/lists.py
  src/python/zigopt/handlers/aiexperiments/training_runs/create.py
  src/python/zigopt/handlers/validate/training_run.py
  src/python/zigopt/training_run/constant.py
Due: pylint

fix observation update
  src/python/zigopt/handlers/experiments/observations/update.py
Due: pylint

fix training run update handler
  src/python/zigopt/handlers/training_runs/update.py
Due: pylint

Pylint: enable `too-many-branches` (#154)
  .pylintrc
  src/python/zigopt/api/common.py
  src/python/zigopt/handlers/base/invite.py
  src/python/zigopt/handlers/experiments/create.py
  src/python/zigopt/handlers/experiments/list_base.py
  src/python/zigopt/handlers/experiments/observations/detail.py
  src/python/zigopt/handlers/experiments/update.py
  src/python/zigopt/handlers/validate/observation.py
  src/python/zigopt/observation/from_json.py
  src/python/zigopt/optimize/sources/base.py
  src/python/zigopt/pagination/paging.py
  src/python/zigopt/parameters/from_json.py
  src/python/zigopt/protobuf/json.py
  src/python/zigopt/sigoptcompute/adapter.py
Due: pylint

fix
  Pipfile.lock
Due: none

refactor configs
  config/circleci/00_circleci.json
  config/circleci/10_test.json
  config/circleci/99_defaults.json
  config/development/00_development.json
  config/development/10_test.json
  config/development/99_defaults.json
  config/sigopt.yml
  config/sigopt/00_client.yml
  config/sigopt/10_redis.yml
  config/sigopt/10_user_uploads.yml
  config/sigopt/10_web.yml
  config/sigopt/99_defaults.json
Due: none

fix development
  DEPENDENCIES.md
  Makefile
Due: none

fix web data
  src/python/zigopt/handlers/web_data/base.py
Due: pylint

big batch of fixes
  src/python/zigopt/handlers/clients/aiexperiments.py
  src/python/zigopt/handlers/clients/experiments.py
  src/python/zigopt/handlers/clients/invite.py
  src/python/zigopt/handlers/clients/tokens.py
  src/python/zigopt/handlers/experiments/best_assignments.py
  src/python/zigopt/handlers/experiments/best_training_runs.py
  src/python/zigopt/handlers/experiments/checkpoints/create.py
  src/python/zigopt/handlers/experiments/checkpoints/detail.py
  src/python/zigopt/handlers/experiments/create.py
  src/python/zigopt/handlers/experiments/detail.py
  src/python/zigopt/handlers/experiments/metric_importances/detail.py
  src/python/zigopt/handlers/experiments/observations/create.py
  src/python/zigopt/handlers/experiments/observations/delete.py
  src/python/zigopt/handlers/experiments/observations/detail.py
  src/python/zigopt/handlers/experiments/observations/update.py
  src/python/zigopt/handlers/experiments/queued_suggestions/create.py
  src/python/zigopt/handlers/experiments/queued_suggestions/delete.py
  src/python/zigopt/handlers/experiments/queued_suggestions/detail.py
  src/python/zigopt/handlers/experiments/stopping_criteria.py
  src/python/zigopt/handlers/experiments/suggestions/create.py
  src/python/zigopt/handlers/experiments/suggestions/delete.py
  src/python/zigopt/handlers/experiments/suggestions/detail.py
  src/python/zigopt/handlers/experiments/suggestions/update.py
  src/python/zigopt/handlers/experiments/update.py
  src/python/zigopt/handlers/organizations/invite/modify.py
  src/python/zigopt/handlers/training_runs/delete.py
  src/python/zigopt/handlers/training_runs/detail.py
  src/python/zigopt/handlers/training_runs/files.py
  src/python/zigopt/handlers/training_runs/tags.py
  src/python/zigopt/handlers/validate/web_data/base.py
  src/python/zigopt/json/builder/checkpoint.py
  src/python/zigopt/observation/model.py
  src/python/zigopt/queue/api.py
  test/integration/v1/features/stopping_test.py
  test/integration/v1/test_base.py
  test/python/sigopttest/optimize/sources/search_test.py
Due: pylint

get_object => get
  src/python/zigopt/db/service.py
  src/python/zigopt/log/base.py
  src/python/zigopt/redis/service.py
  src/python/zigopt/utils/create_database.py
  test/integration/web/cookie_test.py
Due: pylint

broker.get_* => broker.get
  src/python/zigopt/email/list.py
  src/python/zigopt/email/sender.py
  src/python/zigopt/email/smtp.py
  src/python/zigopt/log/base.py
  src/python/zigopt/utils/create_database.py
  test/integration/v1/admin/user_create_code_test.py
Due: pylint

no log_configs
  src/python/zigopt/api/prod.py
  src/python/zigopt/api/swaggerapp.py
Due: pylint

add web config broker
  package.json
  yarn.lock
Due: none

newer js impl
  yarn.lock
Due: none

fix sources test
  test/python/sigopttest/optimize/sources/base_test.py
Due: pylint

fix config
  config/circleci/99_defaults.json
  config/defaults.json
Due: none

fix conditional test
  test/python/sigopttest/optimize/sources/conditional_test.py
Due: pylint

fix suggestion broker test
  test/python/sigopttest/suggestion/broker/base.py
Due: pylint

fix experiment cache test
  test/integration/service/experiment/cache_experiment_count.py
Due: pylint

fix unprocessed suggestions test
  test/integration/service/suggestion/unprocessed/remove_from_available_suggestions.py
Due: pylint

web cb impl
  web/js/config/__tests__/broker.js
  web/js/config/broker.js
  web/js/config/constants.js
  web/js/config/env.js
  web/js/config/exceptions.js
  web/js/config/object.js
  web/js/config/service.js
  web/js/server/express/cookie.js
  web/js/server/express/static.js
  web/js/server/main.js
  web/js/services/server.js
  web/js/webpack/server_side_config.js
  web/scripts/generate_routes.js
Due: eslint

separate loader
  web/js/server/main.js
  web/scripts/generate_routes.js
  yarn.lock
Due: eslint

Add checkpoints modal and checkpoints column
  web/js/pages/project/components/runs_table/data/checkpoints_table.js
  web/js/pages/project/components/runs_table/data/run_columns.js
Due: eslint

add table glyph
  web/js/component/glyph/table/glyph.less
Due: none

add table glyph pt. 2
  web/js/component/glyph/table/index.js
Due: eslint

CheckpointCell renderer
  web/js/local_ag_table/cell_renderers.js
Due: eslint

Remove comments
  web/js/pages/project/components/runs_table/data/checkpoints_table.js
Due: eslint

localhost
  config/defaults.json
  tools/tls/generate_san_cert.sh
Due: none

api url ninja
  config/defaults.json
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  pylint: any of: \.py$
