Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint, crosshair

.pre-commit-config.yaml:

ci:
  skip:
    - crosshair
    - detect-aws-credentials
    - eslint
    - hadolint-docker
    - mypy
    - pylint
    - shellcheck
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch=main]
      - id: trailing-whitespace
  - repo: https://github.com/sigopt/sigopt-tools.git
    rev: "v0.0.2"
    hooks:
      - id: copyright-license-disclaimer
        args: ["--license=Apache License 2.0", "--owner=Intel Corporation"]
      - id: sigoptlint-python
        args:
          - --include=AvoidDatetimeNowRule,GeneratorExpressionRule,NoImportLibsigoptComputeRule,ProtobufMethodsRule,SafeIteratorRule,SafeYieldRule
      - id: sigoptlint-shell
  - repo: https://github.com/PyCQA/bandit.git
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: [tomli]
  - repo: https://github.com/sigopt/black.git
    rev: sigopt-22.10.0
    hooks:
      - id: black
        args: [--preview]
  - repo: https://github.com/PyCQA/flake8.git
    rev: "6.0.0"
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-print==4.0.0
        entry: ./pp flake8
        args: [--config=setup.cfg]
  - repo: https://github.com/hadolint/hadolint.git
    rev: "v2.12.1-beta"
    hooks:
      - id: hadolint-docker
  - repo: https://github.com/PyCQA/isort.git
    rev: "5.12.0"
    hooks:
      - id: isort
        entry: ./pp isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.2.0"
    hooks:
      - id: mypy
        entry: ./pp mypy
        additional_dependencies:
          - types-mock==5.0.0.6
          - types-protobuf==3.20.4
          - types-pytz==2023.2.0.0
          - types-PyYAML==5.4.1
          - types-redis==4.5.3.0
          - types-requests==2.28.11.2
  - repo: https://github.com/pre-commit/mirrors-prettier.git
    rev: "v3.0.0-alpha.9-for-vscode"
    hooks:
      - id: prettier
        additional_dependencies:
          - "@babel/preset-env"
          - "@babel/preset-react"
          - "@babel/plugin-proposal-class-properties"
          - import-sort-style-renke@6.0.0
          - prettier@2.8.6
          - prettier-plugin-import-sort@0.0.7
        exclude: "^Pipfile.lock$"
  - repo: https://github.com/koalaman/shellcheck-precommit.git
    rev: "v0.9.0"
    hooks:
      - id: shellcheck
        args: ["--exclude", "SC1090,SC1091,SC2029", "-f", "gcc"]
  - repo: https://github.com/jendrikseipp/vulture.git
    rev: "v2.7"
    hooks:
      - id: vulture
        entry: tools/dead-code/run_vulture.py
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn -s eslint
        args: [--fix]
        description: "An AST-based pattern checker for JavaScript."
        language: system
        types: [javascript]
      - id: pylint
        name: pylint
        entry: ./pp pylint
        language: system
        types: [python]
        args: [-rn, -sn]
      - id: crosshair
        name: crosshai
        entry: ./pp crosshair
        language: system
        types: [python]
        args:
          - --per_path_timeout=0.01
          - --per_condition_timeout=1
          - --analysis_kind=deal

rightfully place disabled func rule
  .eslintrc.json
Due: none

enable no-promise-executor-return
  .eslintrc.json
  web/js/api/promise-api-client.js
  web/js/net/ajax.js
  web/js/pages/project/analysis/widgets/run_info_widget/widget.js
  web/js/pages/training_run/page_wrapper.js
  web/js/webpack/settings.js
Due: eslint

enable prefer-named-capture-group
  .eslintrc.json
  web/js/chrome/head_js.js
  web/js/experiment/ui.js
  web/js/webpack/client_side_config.js
  web/js/webpack/server_side_config.js
  web/js/webpack/settings.js
Due: eslint

enable logical-assignment-operators
  .eslintrc.json
  web/js/experiment/editor.js
  web/js/experiment/history/head.js
  web/js/net/pool.js
  web/js/pages/docs/manuals/lib/renderedtemplate.js
  web/js/pages/experiment/core/copy/endpoint.js
  web/js/pages/landing/login/endpoint.js
  web/js/session/set.js
  web/js/webpack/unused_code_config.js
Due: eslint

enable default-param-last
  .eslintrc.json
  web/js/pages/project/analysis/lib/errors.js
Due: eslint

enable react/hook-use-state
  .eslintrc.json
  web/js/local_ag_table/custom_filters/set_filter.js
  web/js/local_ag_table/custom_filters/tag_filter.js
  web/js/pages/project/analysis/widgets/checkpoints_widget/editor.js
  web/js/pages/project/analysis/widgets/multi_scatter_widget/editor.js
Due: eslint

enable react/no-unstable-nested-components
  .eslintrc.json
  web/js/experiment/history/head.js
  web/js/pages/change_password/page.js
Due: eslint

enable react/no-unused-state
  .eslintrc.json
  web/js/experiment/history/table.js
  web/js/pages/project/experiments/page.js
Due: eslint

enable react/no-unused-prop-types
  .eslintrc.json
  web/js/experiment/parameter.js
Due: eslint

detect react version
  .eslintrc.json
Due: none

enable no-nested-ternary
  .eslintrc.json
  web/js/experiment/parameter.js
Due: eslint

enable react/no-invalid-html-attribute
  .eslintrc.json
  web/js/pages/docs/manuals/lib/apitoken.js
Due: eslint

check html5_parser early
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
Due: none

bump version of libxml2?
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
Due: none

bump jammy version
  docker/images/test-runner/Dockerfile
Due: none

Revert "bump version of libxml2?"
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
Due: none

no binary install for lxml
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
Due: none

revert change password
  web/js/pages/change_password/page.js
Due: eslint

fix history table sorting
  web/js/experiment/history/head.js
  web/js/experiment/history/table.js
Due: eslint

remove bad contracts
  src/python/zigopt/authentication/login.py
  src/python/zigopt/common/maps.py
Due: pylint, crosshair

fix condition for conditionals
  web/js/experiment/parameter.js
Due: eslint

need runtime libxslt
  docker/images/test-runner/Dockerfile
Due: none

consolidate resolutions
  package.json
  yarn.lock
Due: none

remove old resolutions
  package.json
Due: none

remove old resolutions (#275)
  package.json
Due: none

yarn upgrade
  package.json
  yarn.lock
Due: none

pipenv update
  Pipfile.lock
Due: none

yarn upgrade (#277)
  package.json
  yarn.lock
Due: none

pipenv update (#278)
  Pipfile.lock
Due: none

Pyyaml bump, sig-py bump
  Pipfile
  Pipfile.lock
Due: none

Test unpin
  Pipfile
  Pipfile.lock
Due: none

Remove pyyaml
  Pipfile
  Pipfile.lock
Due: none

Pyyaml bump, sig-py bump (#279)
  Pipfile
  Pipfile.lock
Due: none

yarn upgrade
  yarn.lock
Due: none

chrome 115
  docker/images/test-runner/Dockerfile
Due: none

chrome 115 (#287)
  docker/images/test-runner/Dockerfile
Due: none

pipenv update (#286)
  Pipfile.lock
Due: none
