Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint, crosshair

.pre-commit-config.yaml:

ci:
  skip:
    - crosshair
    - detect-aws-credentials
    - eslint
    - hadolint-docker
    - mypy
    - pylint
    - shellcheck
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch=main]
      - id: trailing-whitespace
  - repo: https://github.com/sigopt/sigopt-tools.git
    rev: "v0.0.2"
    hooks:
      - id: copyright-license-disclaimer
        args: ["--license=Apache License 2.0", "--owner=Intel Corporation"]
      - id: sigoptlint-python
        args:
          - --include=AvoidDatetimeNowRule,GeneratorExpressionRule,NoImportLibsigoptComputeRule,ProtobufMethodsRule,SafeIteratorRule,SafeYieldRule
      - id: sigoptlint-shell
  - repo: https://github.com/PyCQA/bandit.git
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: [tomli]
  - repo: https://github.com/sigopt/black.git
    rev: sigopt-22.10.0
    hooks:
      - id: black
        args: [--preview]
  - repo: https://github.com/PyCQA/flake8.git
    rev: "6.0.0"
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-print==4.0.0
        entry: ./pp flake8
        args: [--config=setup.cfg]
  - repo: https://github.com/hadolint/hadolint.git
    rev: "v2.12.1-beta"
    hooks:
      - id: hadolint-docker
  - repo: https://github.com/PyCQA/isort.git
    rev: "5.12.0"
    hooks:
      - id: isort
        entry: ./pp isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.2.0"
    hooks:
      - id: mypy
        entry: ./pp mypy
        additional_dependencies:
          - types-mock==5.0.0.6
          - types-protobuf==3.20.4
          - types-pytz==2023.2.0.0
          - types-PyYAML==5.4.1
          - types-redis==4.5.3.0
          - types-requests==2.28.11.2
  - repo: https://github.com/pre-commit/mirrors-prettier.git
    rev: "v3.0.0-alpha.9-for-vscode"
    hooks:
      - id: prettier
        additional_dependencies:
          - "@babel/preset-env"
          - "@babel/preset-react"
          - "@babel/plugin-proposal-class-properties"
          - import-sort-style-renke@6.0.0
          - prettier@2.8.6
          - prettier-plugin-import-sort@0.0.7
        exclude: "^Pipfile.lock$"
  - repo: https://github.com/koalaman/shellcheck-precommit.git
    rev: "v0.9.0"
    hooks:
      - id: shellcheck
        args: ["--exclude", "SC1090,SC1091,SC2029", "-f", "gcc"]
  - repo: https://github.com/jendrikseipp/vulture.git
    rev: "v2.7"
    hooks:
      - id: vulture
        entry: tools/dead-code/run_vulture.py
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn -s eslint
        args: [--fix]
        description: "An AST-based pattern checker for JavaScript."
        language: system
        types: [javascript]
      - id: pylint
        name: pylint
        entry: ./pp pylint
        language: system
        types: [python]
        args: [-rn, -sn]
      - id: crosshair
        name: crosshai
        entry: ./pp crosshair
        language: system
        types: [python]
        args:
          - --per_path_timeout=0.01
          - --per_condition_timeout=1
          - --analysis_kind=deal

eslint
  web/js/pages/organization/experiments/experiments_usage_table.js
  web/js/pages/organization/runs/runs_usage_table.js
Due: eslint

Weekly `yarn upgrade` - 2023-07-24 (#285)
  web/js/pages/organization/experiments/experiments_usage_table.js
  web/js/pages/organization/runs/runs_usage_table.js
  yarn.lock
Due: eslint

dependabot updates
  .github/dependabot.yml
Due: none

dependabot updates (#288)
  .github/dependabot.yml
Due: none

install chromium in test-runner
  docker/images/test-runner/Dockerfile
Due: none

change the browser
  test/integration/browser/tests/conftest.py
Due: pylint, crosshair

decrease timeout significantly
  test/integration/v1/requests/parsing_test.py
Due: pylint, crosshair

try to catch flakiness
  test/integration/v1/requests/parsing_test.py
Due: pylint, crosshair

the test is slow
  test/integration/v1/requests/parsing_test.py
Due: pylint, crosshair

fine, just make sure the request doesn't take long
  test/integration/v1/requests/parsing_test.py
Due: pylint, crosshair

allModules export
  web/js/ag_grid.js
Due: eslint

remove all-modules
  package.json
  web/js/local_ag_table/local_ag_table.js
  yarn.lock
Due: eslint

prettier stop ignoring json
  .eslintrc.json
  .prettierignore
  config/test.json
  package.json
Due: none

Remove ag-grid all-modules (#297)
  .eslintrc.json
  .prettierignore
  config/test.json
  package.json
  web/js/ag_grid.js
  web/js/local_ag_table/local_ag_table.js
  yarn.lock
Due: eslint

Fix requests test (#296)
  test/integration/v1/requests/parsing_test.py
Due: pylint, crosshair

Chromium instead of chrome (#295)
  docker/images/test-runner/Dockerfile
  test/integration/browser/tests/conftest.py
Due: pylint, crosshair

yarn upgrade
  yarn.lock
Due: none

pipenv update
  Pipfile.lock
Due: none

disable weekly upgrades
  .github/workflows/upgrades.yml
Due: none

disable weekly upgrades (#305)
  .github/workflows/upgrades.yml
Due: none

link chromium to /usr/bin/google-chrome for selenium
  docker/images/test-runner/Dockerfile
Due: none

link chromium to /usr/bin/google-chrome for selenium (#314)
  docker/images/test-runner/Dockerfile
Due: none

no more downgrading docker
  .github/workflows/integration.yml
Due: none

install libstdc++
  docker/images/zigopt/Dockerfile
Due: none

remove in local deploy test too
  .github/workflows/local_deployments.yml
Due: none

Stop docker downgrade (#337)
  .github/workflows/integration.yml
  .github/workflows/local_deployments.yml
  docker/images/zigopt/Dockerfile
Due: none

dependabumps
  Pipfile
  Pipfile.lock
Due: none

pipenv install
  Pipfile.lock
Due: none

dependabumps (#361)
  Pipfile
  Pipfile.lock
Due: none

bump urllib3
  Pipfile.lock
Due: none

big urllib3 bump...
  Pipfile.lock
Due: none

relax pin on some installs
  docker/images/node-development/Dockerfile
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
Due: none

more unpinning
  docker/images/zigopt/Dockerfile
Due: none

unpin more? sheesh
  docker/images/zigopt/Dockerfile
Due: none

whaaaat?
  docker/images/zigopt/Dockerfile
Due: none

Unpin apt packages (#376)
  docker/images/node-development/Dockerfile
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
Due: none

bump urllib3 (#375)
  Pipfile.lock
Due: none

css-loader bump for dependabot
  package.json
  yarn.lock
Due: none
