Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint, apply-copyright-notice, custom-python-lint

eslint:
  name: eslint
  entry: yarn -s eslint
  args:
  - --fix
  description: An AST-based pattern checker for JavaScript.
  language: system

pylint:
  name: pylint
  entry: ./pp pylint
  language: system
  args:
  - -rn
  - -sn

apply-copyright-notice:
  name: Apply the copywright notice
  description: This hook applies the copyright notice and license disclaimer to all files.
  entry: tools/lint/common/check_copyright_and_license_disclaimers.py
  args:
  - --fix-in-place
  language: python

custom-python-lint:
  name: custom-python-lint
  entry: ./pp tools/lint/python/custom_lint.py
  language: python
  additional_dependencies:
  - numpy

Fix LANG (#97)
  docker/images/test-runner/Dockerfile
Due: none

cancelable
  web/js/webpack/server_side_config.js
Due: eslint

check importing from libsigopt.compute
  tools/lint/python/custom_lint.py
Due: pylint, apply-copyright-notice, custom-python-lint

external express
  package.json
  web/js/webpack/server_side_config.js
Due: eslint

select externals
  web/js/webpack/server_side_config.js
Due: eslint

python for installing node modules
  docker/images/web/Dockerfile
Due: none

python3
  docker/images/web/Dockerfile
Due: none

change location
  tools/lint/python/custom_lint.py
Due: pylint, apply-copyright-notice, custom-python-lint

Using custom lint to check importing from `libsigopt.compute` (#98)
  tools/lint/python/custom_lint.py
Due: pylint, apply-copyright-notice, custom-python-lint

add more file types to license disclaimer
  .pre-commit-config.yaml
Due: none

add more file types to license disclaimer (#99)
  .pre-commit-config.yaml
Due: none

sigopt-tools pre-commit
  .pre-commit-config.yaml
Due: none

python args
  .pre-commit-config.yaml
Due: none

transfer to sigoptlint and disable remaining customlint
  src/python/zigopt/common/sigopt_datetime.py
  src/python/zigopt/handlers/training_runs/create.py
  src/python/zigopt/handlers/training_runs/list.py
  src/python/zigopt/handlers/training_runs/utils.py
  src/python/zigopt/handlers/validate/color.py
  src/python/zigopt/handlers/validate/validate_dict.py
  src/python/zigopt/protobuf/lib.py
  src/python/zigopt/protobuf/patch.py
  src/python/zigopt/redis/service.py
  test/integration/service/db/column.py
  test/integration/service/suggestion/broker/test_base.py
  test/integration/v1/endpoints/clients/client_training_run.py
  test/integration/v1/endpoints/training_runs/update_test.py
  test/integration/v1/requests/api_test.py
  test/integration/web/csrf_test.py
  test/integration/web/organization_test.py
  test/python/sigopttest/api/common.py
  test/python/sigopttest/db/column.py
  test/python/sigopttest/log/base.py
  test/python/sigopttest/net/responses_test.py
  tools/dead-code/run_vulture.py
  tools/lint/common/check_copyright_and_license_disclaimers.py
  tools/lint/python/custom_lint.py
Due: pylint, apply-copyright-notice, custom-python-lint

update chromedriver version
  docker/images/test-runner/Dockerfile
Due: none

remove remaining lint tools
  tools/lint/bash/__init__.py
  tools/lint/bash/custom_lint.py
  tools/lint/common/__init__.py
  tools/lint/python/__init__.py
Due: pylint, apply-copyright-notice, custom-python-lint

sigopt-tools pre-commit (#100)
  .pre-commit-config.yaml
  docker/images/test-runner/Dockerfile
  src/python/zigopt/common/sigopt_datetime.py
  src/python/zigopt/handlers/training_runs/create.py
  src/python/zigopt/handlers/training_runs/list.py
  src/python/zigopt/handlers/training_runs/utils.py
  src/python/zigopt/handlers/validate/color.py
  src/python/zigopt/handlers/validate/validate_dict.py
  src/python/zigopt/protobuf/lib.py
  src/python/zigopt/protobuf/patch.py
  src/python/zigopt/redis/service.py
  test/integration/service/db/column.py
  test/integration/service/suggestion/broker/test_base.py
  test/integration/v1/endpoints/clients/client_training_run.py
  test/integration/v1/endpoints/training_runs/update_test.py
  test/integration/v1/requests/api_test.py
  test/integration/web/csrf_test.py
  test/integration/web/organization_test.py
  test/python/sigopttest/api/common.py
  test/python/sigopttest/db/column.py
  test/python/sigopttest/log/base.py
  test/python/sigopttest/net/responses_test.py
  tools/dead-code/run_vulture.py
  tools/lint/bash/__init__.py
  tools/lint/bash/custom_lint.py
  tools/lint/common/__init__.py
  tools/lint/common/check_copyright_and_license_disclaimers.py
  tools/lint/python/__init__.py
  tools/lint/python/custom_lint.py
Due: pylint, apply-copyright-notice, custom-python-lint

fix some formatting
  sigoptaux/sigoptaux/errors.py
  sigoptaux/sigoptaux/validate.py
Due: pylint, apply-copyright-notice, custom-python-lint

First test of idea
  sigoptaux/sigoptaux/errors.py
  sigoptaux/sigoptaux/validate.py
  src/python/zigopt/api/routes.py
  src/python/zigopt/handlers/validate/validate_dict.py
Due: pylint, apply-copyright-notice, custom-python-lint

Fix unit tests
  src/python/zigopt/api/errors.py
  test/python/sigopttest/conditionals/from_json.py
  test/python/sigopttest/handlers/validate/experiment.py
  test/python/sigopttest/handlers/validate/validate_dict.py
  test/python/sigopttest/parameters/from_json.py
  test/python/sigopttest/suggestion/from_json.py
Due: pylint, apply-copyright-notice, custom-python-lint

Log error handlers
  src/python/zigopt/api/prod.py
Due: pylint, apply-copyright-notice, custom-python-lint

Black
  sigoptaux/sigoptaux/errors.py
  sigoptaux/sigoptaux/validate.py
  src/python/zigopt/api/routes.py
  src/python/zigopt/handlers/validate/validate_dict.py
Due: pylint, apply-copyright-notice, custom-python-lint

Clean up
  src/python/zigopt/api/routes.py
Due: pylint, apply-copyright-notice, custom-python-lint

Make SigoptValidationError usable
  src/python/zigopt/api/errors.py
Due: pylint, apply-copyright-notice, custom-python-lint

log error at error
  src/python/zigopt/api/prod.py
Due: pylint, apply-copyright-notice, custom-python-lint

Add handler for InvalidKeyError
  src/python/zigopt/api/routes.py
Due: pylint, apply-copyright-notice, custom-python-lint

Move to new errors
  src/python/zigopt/handlers/validate/validate_dict.py
Due: pylint, apply-copyright-notice, custom-python-lint

Rename base exception
  src/python/zigopt/api/common.py
  src/python/zigopt/api/errors.py
  src/python/zigopt/api/prod.py
Due: pylint, apply-copyright-notice, custom-python-lint

Isolate schema validation into new file
  src/python/zigopt/api/validate_schema.py
  src/python/zigopt/handlers/validate/aiexperiment.py
  src/python/zigopt/handlers/validate/experiment.py
  src/python/zigopt/handlers/validate/note.py
  src/python/zigopt/handlers/validate/project.py
  src/python/zigopt/handlers/validate/tag.py
  src/python/zigopt/handlers/validate/validate_dict.py
Due: pylint, apply-copyright-notice, custom-python-lint

Update to temporary location for errors
  src/python/zigopt/api/errors.py
  src/python/zigopt/api/prod.py
  src/python/zigopt/api/routes.py
  src/python/zigopt/api/v1/routes.py
  src/python/zigopt/handlers/validate/validate_dict.py
Due: pylint, apply-copyright-notice, custom-python-lint

Another miss
  src/python/zigopt/handlers/validate/web_data/base.py
Due: pylint, apply-copyright-notice, custom-python-lint

Move all references to new errors
  src/python/zigopt/api/auth.py
  src/python/zigopt/api/request.py
  src/python/zigopt/api/validate_schema.py
  src/python/zigopt/conditionals/from_json.py
  src/python/zigopt/handlers/aiexperiments/update.py
  src/python/zigopt/handlers/experiments/create.py
  src/python/zigopt/handlers/experiments/observations/create.py
  src/python/zigopt/handlers/experiments/update.py
  src/python/zigopt/handlers/users/update.py
  src/python/zigopt/handlers/validate/assignments.py
  src/python/zigopt/handlers/validate/observation.py
  src/python/zigopt/json/builder/json_builder.py
  src/python/zigopt/parameters/from_json.py
  test/python/sigopttest/conditionals/from_json.py
  test/python/sigopttest/handlers/validate/experiment.py
  test/python/sigopttest/handlers/validate/validate_dict.py
  test/python/sigopttest/parameters/from_json.py
Due: pylint, apply-copyright-notice, custom-python-lint

Raise except
  src/python/zigopt/api/common.py
Due: pylint, apply-copyright-notice, custom-python-lint

Remove code that's not ready for testing yet
  sigoptaux/sigoptaux/validate.py
Due: pylint, apply-copyright-notice, custom-python-lint

Move register_error_handler to after blueprint
  src/python/zigopt/api/prod.py
Due: pylint, apply-copyright-notice, custom-python-lint

Isort
  src/python/zigopt/api/routes.py
Due: pylint, apply-copyright-notice, custom-python-lint

Move handler to prodapp
  src/python/zigopt/api/prod.py
Due: pylint, apply-copyright-notice, custom-python-lint

black 2
  sigoptaux/sigoptaux/errors.py
  src/python/zigopt/handlers/validate/validate_dict.py
Due: pylint, apply-copyright-notice, custom-python-lint

Add individual error handler
  src/python/zigopt/api/prod.py
Due: pylint, apply-copyright-notice, custom-python-lint

Pick up some missed fields
  src/python/zigopt/handlers/validate/checkpoint.py
  src/python/zigopt/handlers/validate/metadata.py
  src/python/zigopt/handlers/validate/observation.py
Due: pylint, apply-copyright-notice, custom-python-lint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  pylint: any of: \.py$
  apply-copyright-notice: any of: \.(md|markdown|mdown)$, \.py$
  custom-python-lint: any of: \.py$
