Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

ci:
  skip: [detect-aws-credentials, eslint, hadolint-docker, pylint, shellcheck]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch=main]
      - id: trailing-whitespace
  - repo: https://github.com/sigopt/sigopt-tools.git
    rev: "v0.0.2"
    hooks:
      - id: copyright-license-disclaimer
        args: ["--license=Apache License 2.0", "--owner=Intel Corporation"]
      - id: sigoptlint-python
      - id: sigoptlint-shell
  - repo: https://github.com/PyCQA/bandit.git
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: [tomli]
  - repo: https://github.com/sigopt/black.git
    rev: sigopt-22.10.0
    hooks:
      - id: black
        args: [--experimental-string-processing]
  - repo: https://github.com/PyCQA/flake8.git
    rev: "6.0.0"
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-print==4.0.0
        entry: ./pp flake8
        args: [--config=setup.cfg]
  - repo: https://github.com/hadolint/hadolint.git
    rev: "v2.12.1-beta"
    hooks:
      - id: hadolint-docker
  - repo: https://github.com/PyCQA/isort.git
    rev: "5.12.0"
    hooks:
      - id: isort
        entry: ./pp isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.1.1"
    hooks:
      - id: mypy
        additional_dependencies:
          - types-mock==5.0.0.6
          - types-protobuf==3.20.4
          - types-pytz==2023.2.0.0
          - types-PyYAML==5.4.1
          - types-redis==4.5.3.0
          - types-requests==2.28.11.2
        exclude: "(sigoptlite|src/python/zigopt/authorization|src/python/zigopt/handlers|src/python/zigopt/training_run|src/python/zigopt/queue|src/python/zigopt/user|test)/.*\\.py"
  - repo: https://github.com/pre-commit/mirrors-prettier.git
    rev: "v3.0.0-alpha.6"
    hooks:
      - id: prettier
        additional_dependencies:
          - "@babel/preset-env"
          - "@babel/preset-react"
          - "@babel/plugin-proposal-class-properties"
          - import-sort-style-renke@6.0.0
          - prettier@2.8.6
          - prettier-plugin-import-sort@0.0.7
        exclude: "^Pipfile.lock$"
  - repo: https://github.com/koalaman/shellcheck-precommit.git
    rev: "v0.9.0"
    hooks:
      - id: shellcheck
        args: ["--exclude", "SC1090,SC1091,SC2029", "-f", "gcc"]
  - repo: https://github.com/jendrikseipp/vulture.git
    rev: "v2.7"
    hooks:
      - id: vulture
        entry: tools/dead-code/run_vulture.py
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn -s eslint
        args: [--fix]
        description: "An AST-based pattern checker for JavaScript."
        language: system
        types: [javascript]
      - id: pylint
        name: pylint
        entry: ./pp pylint
        language: system
        types: [python]
        args: [-rn, -sn]

types for experiment meta
  .vulture_allowlist
  test/integration/v1/constants.py
Due: pylint

typed integration tests
  ci/compose_test.sh
  test/__init__.py
  test/integration/connection.py
  test/integration/py.typed
  test/integration/service/optimize/optimizer/test_base.py
  test/integration/service/suggestion/unprocessed/remove_from_available_suggestions.py
  test/integration/v1/constants.py
  test/integration/v1/endpoints/aiexperiments/create_test.py
  test/integration/v1/endpoints/aiexperiments/list_test.py
  test/integration/v1/endpoints/experiments/create_test.py
  test/integration/v1/endpoints/experiments/update_test.py
  test/integration/v1/features/multisolution_test.py
  test/integration/v1/features/optimized_grid_test.py
  test/integration/v1/features/random_test.py
  test/test_dev_env.sh
Due: pylint

typed sigopttest (nothing to do)
  test/python/__init__.py
  test/python/sigopttest/py.typed
Due: pylint

stub out fs, path, remove underscore-esm link
  web/js/webpack/client_side_config.js
  yarn.lock
Due: eslint

older sigopt-config
  web/js/server/main.js
  web/scripts/generate_routes.js
  yarn.lock
Due: eslint

no json-merge-patch in package.json
  package.json
Due: none

remove unused file
  web/js/config/constants.js
Due: eslint

remove got mock
  web/js/config/__mocks__/got.js
Due: eslint

cant create protobuf with bad type
  test/python/sigopttest/json/render.py
Due: pylint

no tag yet
  src/python/zigopt/handlers/training_runs/tags.py
Due: pylint

session scope for fixture
  test/integration/service/client/service.py
Due: pylint

proxy webpack through sigopt.ninja:4443
  config/test.json
  docker-compose.dev.yml
  nginx/proxy/webpack.conf
  nginx/server/sigopt.conf
  nginx/server/webpack.conf
  web/js/webpack/client_side_config.js
Due: eslint

remove remaining static_asset_url
  config/defaults.json
  web/js/server/express/headers.js
Due: eslint

add localhost to tls cert
  tools/tls/generate_san_cert.sh
Due: none

remove webpack port
  docker-compose.dev.yml
Due: none

relative public path
  docker-compose.dev.yml
  web/js/webpack/client_side_config.js
Due: eslint

no more scoped cookie
  config/defaults.json
  test/integration/web/cookie_test.py
  test/integration/web/test_base.py
  web/js/server/express/cookie.js
Due: eslint, pylint

Changes to serving static assets (#168)
  config/defaults.json
  config/test.json
  docker-compose.dev.yml
  nginx/proxy/webpack.conf
  nginx/server/sigopt.conf
  nginx/server/webpack.conf
  tools/tls/generate_san_cert.sh
  web/js/server/express/headers.js
  web/js/webpack/client_side_config.js
Due: eslint

change development cookie name
  config/development.json
Due: none

api proxy and internal api url
  config/defaults.json
  web/js/services/server.js
Due: eslint

api proxy url
  web/js/services/server.js
Due: eslint

no more scoped cookies, set cookies on self (#169)
  config/defaults.json
  config/development.json
  test/integration/web/cookie_test.py
  test/integration/web/test_base.py
  web/js/server/express/cookie.js
Due: eslint, pylint

Internal api url (#170)
  config/defaults.json
  web/js/services/server.js
Due: eslint

hopefully fix
  test/integration/service/client/service.py
  test/integration/service/test_base.py
Due: pylint

actually fix
  test/integration/service/client/service.py
  test/integration/service/test_base.py
Due: pylint

remove unused type: ignore
  src/python/zigopt/api/v1/routes.py
Due: pylint

Fix bad merge
  src/python/zigopt/handlers/experiments/create.py
  src/python/zigopt/handlers/validate/observation.py
Due: pylint

Fix indent levels
  src/python/zigopt/parameters/from_json.py
Due: pylint

dont run mypy in pre-commit.ci
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

Add back in type hint
  src/python/zigopt/api/request.py
Due: pylint

data.setdefault
  test/integration/service/experiment/cache_experiment_count.py
  test/integration/service/suggestion/unprocessed/remove_from_available_suggestions.py
  test/python/sigopttest/optimize/sources/conditional_test.py
  test/python/sigopttest/suggestion/broker/base.py
Due: pylint

generate dir
  docker/images/test-runner/Dockerfile
Due: none

fix more configbroker set
  test/python/sigopttest/optimize/sources/base_test.py
Due: pylint

s3 still has get_object... whoops
  test/integration/web/cookie_test.py
Due: pylint

on data
  test/python/sigopttest/optimize/sources/base_test.py
Due: pylint

fix test in another place
  test/integration/web/cookie_test.py
Due: pylint

remove debugging, config broker default dir
  web/js/config/constants.js
  web/js/server/main.js
Due: eslint
