Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint, apply-copyright-notice, custom-python-lint

eslint:
  name: eslint
  entry: yarn -s eslint
  args:
  - --fix
  description: An AST-based pattern checker for JavaScript.
  language: system

pylint:
  name: pylint
  entry: ./pp pylint
  language: system
  args:
  - -rn
  - -sn

apply-copyright-notice:
  name: Apply the copywright notice
  description: This hook applies the copyright notice and license disclaimer to all files.
  entry: tools/lint/common/check_copyright_and_license_disclaimers.py
  args:
  - --fix-in-place
  language: python

custom-python-lint:
  name: custom-python-lint
  entry: ./pp tools/lint/python/custom_lint.py
  language: python
  additional_dependencies:
  - numpy

disclaimer
  sigoptlite/build_package.sh
Due: none

`sigoptlite`: readme typo (#81)
  sigoptlite/README.md
  sigoptlite/build_package.sh
Due: apply-copyright-notice

flake8 debug
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

renke style
  .circleci/config.yml
  .pre-commit-config.yaml
  package.json
  yarn.lock
Due: none

pylintrc
  .pylintrc
Due: none

edit pylintrc
  .pylintrc
Due: none

class properties
  .pre-commit-config.yaml
Due: none

preset-env
  .pre-commit-config.yaml
Due: none

preset-react
  .pre-commit-config.yaml
Due: none

fix shellcheck
  .pre-commit-config.yaml
  ci/wait_for.sh
Due: none

eslint
  .circleci/config.yml
Due: none

disable shellcheck
  .pre-commit-config.yaml
Due: none

rm debug
  .circleci/config.yml
Due: none

autoupdate
  .pre-commit-config.yaml
Due: none

need protobuf
  .circleci/config.yml
Due: none

copy[^w]right
  .pre-commit-config.yaml
Due: none

compile protobuf in another job
  .circleci/config.yml
Due: none

requires checkout-code and compile-protobuf
  .circleci/config.yml
Due: none

setup web too
  .circleci/config.yml
Due: none

reuse node modules
  .circleci/config.yml
Due: none

disable destroyed symlinks
  .pre-commit-config.yaml
Due: none

dont rip out git objects
  .circleci/config.yml
Due: none

Revert "disable destroyed symlinks"
  .pre-commit-config.yaml
Due: none

add space after header
  web/js/component/code_generator/base.js
  web/js/component/code_generator/java.js
Due: eslint

Upgrade commander, on-finished and smoothscroll to fix trivy scans (#78)
  .circleci/config.yml
  package.json
  web/js/server/main.js
  yarn.lock
Due: eslint

sigoptlite
  .circleci/config.yml
  .gitignore
  Makefile
  sigoptlite/BUILD.md
  sigoptlite/Makefile
  sigoptlite/README.md
  sigoptlite/build_package.sh
  sigoptlite/pyproject.toml
  sigoptlite/setup.cfg
  sigoptlite/sigoptlite/__init__.py
  sigoptlite/sigoptlite/best_assignments.py
  sigoptlite/sigoptlite/broker.py
  sigoptlite/sigoptlite/builders.py
  sigoptlite/sigoptlite/driver.py
  sigoptlite/sigoptlite/models.py
  sigoptlite/sigoptlite/sources.py
  sigoptlite/sigoptlitetest/__init__.py
  sigoptlite/sigoptlitetest/base_test.py
  sigoptlite/sigoptlitetest/constants.py
  sigoptlite/sigoptlitetest/endpoints/__init__.py
  sigoptlite/sigoptlitetest/endpoints/test_best_assignments.py
  sigoptlite/sigoptlitetest/endpoints/test_experiment.py
  sigoptlite/sigoptlitetest/endpoints/test_observation.py
  sigoptlite/sigoptlitetest/endpoints/test_suggestion.py
  sigoptlite/sigoptlitetest/features/__init__.py
  sigoptlite/sigoptlitetest/features/test_conditionals.py
  sigoptlite/sigoptlitetest/features/test_constraints.py
  sigoptlite/sigoptlitetest/features/test_multiple_metrics.py
  sigoptlite/sigoptlitetest/features/test_multisolution.py
  sigoptlite/sigoptlitetest/features/test_multitask.py
  sigoptlite/sigoptlitetest/features/test_priors.py
  sigoptlite/sigoptlitetest/features/test_search.py
  sigoptlite/sigoptlitetest/test_adapter.py
  sigoptlite/sigoptlitetest/test_broker.py
  sigoptlite/sigoptlitetest/test_builders.py
  sigoptlite/sigoptlitetest/test_compute_mode.py
  sigoptlite/sigoptlitetest/test_models.py
  sigoptlite/sigoptlitetest/test_sources.py
  tools/lint/python/isort.cfg
  tools/lint/python/pyproject.toml
Due: pylint, apply-copyright-notice, custom-python-lint

sigoptlite (#83)
  .circleci/config.yml
  .gitignore
  Makefile
  sigoptlite/BUILD.md
  sigoptlite/Makefile
  sigoptlite/README.md
  sigoptlite/build_package.sh
  sigoptlite/pyproject.toml
  sigoptlite/setup.cfg
  sigoptlite/sigoptlite/__init__.py
  sigoptlite/sigoptlite/best_assignments.py
  sigoptlite/sigoptlite/broker.py
  sigoptlite/sigoptlite/builders.py
  sigoptlite/sigoptlite/driver.py
  sigoptlite/sigoptlite/models.py
  sigoptlite/sigoptlite/sources.py
  sigoptlite/sigoptlitetest/__init__.py
  sigoptlite/sigoptlitetest/base_test.py
  sigoptlite/sigoptlitetest/constants.py
  sigoptlite/sigoptlitetest/endpoints/__init__.py
  sigoptlite/sigoptlitetest/endpoints/test_best_assignments.py
  sigoptlite/sigoptlitetest/endpoints/test_experiment.py
  sigoptlite/sigoptlitetest/endpoints/test_observation.py
  sigoptlite/sigoptlitetest/endpoints/test_suggestion.py
  sigoptlite/sigoptlitetest/features/__init__.py
  sigoptlite/sigoptlitetest/features/test_conditionals.py
  sigoptlite/sigoptlitetest/features/test_constraints.py
  sigoptlite/sigoptlitetest/features/test_multiple_metrics.py
  sigoptlite/sigoptlitetest/features/test_multisolution.py
  sigoptlite/sigoptlitetest/features/test_multitask.py
  sigoptlite/sigoptlitetest/features/test_priors.py
  sigoptlite/sigoptlitetest/features/test_search.py
  sigoptlite/sigoptlitetest/test_adapter.py
  sigoptlite/sigoptlitetest/test_broker.py
  sigoptlite/sigoptlitetest/test_builders.py
  sigoptlite/sigoptlitetest/test_compute_mode.py
  sigoptlite/sigoptlitetest/test_models.py
  sigoptlite/sigoptlitetest/test_sources.py
  tools/lint/python/isort.cfg
  tools/lint/python/pyproject.toml
Due: pylint, apply-copyright-notice, custom-python-lint

remove merge conflict artifact
  .circleci/config.yml
Due: none

remove opensource.txt
  opensource.txt
Due: none

skips
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

Yarn audit (#80)
  .circleci/config.yml
  docker/images/test-runner/Dockerfile
Due: none

circleci config validate requires circleci command
  .pre-commit-config.yaml
Due: none

use randomsearchnextpoints
  src/python/zigopt/sigoptcompute/adapter.py
  src/python/zigopt/suggestion/sampler/random.py
Due: pylint, apply-copyright-notice, custom-python-lint

elevate views
  src/python/zigopt/sigoptcompute/adapter.py
Due: pylint, apply-copyright-notice, custom-python-lint

update reqs to see if tests are working
  requirements-to-freeze.txt
  requirements.txt
Due: none

clean import
  src/python/zigopt/suggestion/sampler/random.py
Due: pylint, apply-copyright-notice, custom-python-lint

oops
  src/python/zigopt/suggestion/sampler/random.py
Due: pylint, apply-copyright-notice, custom-python-lint

pylint in circleci
  .circleci/config.yml
Due: none

compile protobuf
  .circleci/config.yml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  pylint: any of: \.py$
  apply-copyright-notice: any of: \.(md|markdown|mdown)$, \.py$
  custom-python-lint: any of: \.py$
