Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint, apply-copyright-notice, custom-python-lint

eslint:
  name: eslint
  entry: yarn -s eslint
  args:
  - --fix
  description: An AST-based pattern checker for JavaScript.
  language: system

pylint:
  name: pylint
  entry: ./pp pylint
  language: system
  args:
  - -rn
  - -sn

apply-copyright-notice:
  name: Apply the copywright notice
  description: This hook applies the copyright notice and license disclaimer to all files.
  entry: tools/lint/common/check_copyright_and_license_disclaimers.py
  args:
  - --fix-in-place
  language: python

custom-python-lint:
  name: custom-python-lint
  entry: ./pp tools/lint/python/custom_lint.py
  language: python
  additional_dependencies:
  - numpy

just dont use pipenv for client integration tests
  test/run_client_integration_tests.sh
Due: none

create a new pytest.ini
  test/run_client_integration_tests.sh
Due: none

Pipenv (#93)
  .circleci/config.yml
  .pre-commit-config.yaml
  Makefile
  Pipfile
  Pipfile.lock
  docker-compose.yml
  docker/images/python-development/Dockerfile
  docker/images/python-development/bin/run_command_on_change.py
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
  requirements-dev.txt
  requirements-linux.txt
  requirements-to-freeze.txt
  requirements.txt
  scripts/dev/install_everything_dev.sh
  scripts/requirements/README.md
  scripts/requirements/freeze_requirements.sh
  test/run_client_integration_tests.sh
Due: pylint, apply-copyright-notice, custom-python-lint

install python3-minimal
  docker-compose.dev.yml
  docker-compose.yml
  docker/images/test-runner/Dockerfile
Due: none

install curl and ca-certs
  docker/images/test-runner/Dockerfile
Due: none

also install unzip
  docker/images/test-runner/Dockerfile
Due: none

add tasks to view_input
  src/python/zigopt/sigoptcompute/adapter.py
Due: pylint, apply-copyright-notice, custom-python-lint

change req for test
  requirements.txt
Due: none

get latest version of pip
  docker/images/test-runner/Dockerfile
Due: none

parallel build image
  docker/images/test-runner/Dockerfile
Due: none

install python3 dev
  docker/images/test-runner/Dockerfile
Due: none

install git
  docker/images/test-runner/Dockerfile
Due: none

install pkg-config
  docker/images/test-runner/Dockerfile
Due: none

no matter what version, x11vnc and xvfb
  docker/images/test-runner/Dockerfile
Due: none

lxde too
  docker/images/test-runner/Dockerfile
Due: none

set lang var
  docker/images/test-runner/Dockerfile
Due: none

add build-essential
  docker/images/test-runner/Dockerfile
Due: none

pyhon3 is python
  docker/images/test-runner/Dockerfile
Due: none

wrong pkg
  docker/images/test-runner/Dockerfile
Due: none

Use latest ubuntu for `test-runner` image (#94)
  docker-compose.dev.yml
  docker-compose.yml
  docker/images/test-runner/Dockerfile
Due: none

browser test parallelism, test-runner build optimization
  .circleci/config.yml
Due: none

revert to main
  Pipfile
Due: none

dont test __init__.py
  .circleci/config.yml
Due: none

pipfile lock
  Pipfile.lock
Due: none

only run tests that have a test_ function/method
  .circleci/config.yml
Due: none

xargs
  .circleci/config.yml
Due: none

CI optimizations (#95)
  .circleci/config.yml
Due: none

server externals
  docker/images/web/Dockerfile
  web/js/webpack/server_side_config.js
Due: eslint

sh for minify
  scripts/compile/minify_js.sh
  scripts/compile/minify_js_server_bundle.sh
  tools/lint/bash/custom_lint.py
Due: pylint, apply-copyright-notice, custom-python-lint

whoops
  docker/images/web/Dockerfile
Due: none

node externals in prod node modules
  package.json
Due: none

internalize css and less
  web/js/webpack/server_side_config.js
Due: eslint

bundle got too
  web/js/webpack/server_side_config.js
Due: eslint

run locale-gen
  docker/images/test-runner/Dockerfile
Due: none

all lang vars
  docker/images/test-runner/Dockerfile
Due: none

LANG C
  docker/images/test-runner/Dockerfile
Due: none

read docs
  web/js/webpack/server_side_config.js
Due: eslint

Use RandomSearchNextPoints for random search. (#84)
  Pipfile.lock
  src/python/zigopt/sigoptcompute/adapter.py
  src/python/zigopt/suggestion/sampler/random.py
  test/python/sigopttest/optimize/sources/base_test.py
  test/python/sigopttest/suggestion/sampler/sampler.py
Due: pylint, apply-copyright-notice, custom-python-lint

also bundle sindresorhus
  web/js/webpack/server_side_config.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  pylint: any of: \.py$
  apply-copyright-notice: any of: \.(md|markdown|mdown)$, \.py$
  custom-python-lint: any of: \.py$
