Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint, apply-copyright-notice, custom-python-lint

eslint:
  name: eslint
  entry: yarn -s eslint
  args:
  - --fix
  description: An AST-based pattern checker for JavaScript.
  language: system

pylint:
  name: pylint
  entry: ./pp pylint
  language: system
  args:
  - -rn
  - -sn

apply-copyright-notice:
  name: Apply the copywright notice
  description: This hook applies the copyright notice and license disclaimer to all files.
  entry: tools/lint/common/check_copyright_and_license_disclaimers.py
  args:
  - --fix-in-place
  language: python

custom-python-lint:
  name: custom-python-lint
  entry: ./pp tools/lint/python/custom_lint.py
  language: python
  additional_dependencies:
  - numpy

add pre-commit status
  README.md
Due: apply-copyright-notice

stop broken checks
  .pre-commit-config.yaml
Due: none

run incompatible checks on circleci
  .circleci/config.yml
Due: none

only run 1 check at a time
  .circleci/config.yml
Due: none

remove opensource.txt (#85)
  opensource.txt
Due: none

add imports
  src/python/zigopt/sigoptcompute/adapter.py
Due: pylint, apply-copyright-notice, custom-python-lint

Run some `pre-commit` checks in CircleCI (#86)
  .circleci/config.yml
  .pre-commit-config.yaml
  README.md
Due: apply-copyright-notice

mock adapter
  test/python/sigopttest/suggestion/sampler/sampler.py
Due: pylint, apply-copyright-notice, custom-python-lint

update tests
  test/python/sigopttest/optimize/sources/base_test.py
  test/python/sigopttest/suggestion/sampler/sampler.py
Due: pylint, apply-copyright-notice, custom-python-lint

clean up circleci/config
  .circleci/config.yml
Due: none

clean up circleci/config (#87)
  .circleci/config.yml
Due: none

prod reqs in pipfile
  Pipfile
  Pipfile.lock
Due: none

replace reqs with pipenv
  .circleci/config.yml
  Makefile
  docker-compose.yml
  docker/images/python-development/Dockerfile
  docker/images/python-development/bin/run_command_on_change.py
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
  scripts/dev/install_everything_dev.sh
  test/run_client_integration_tests.sh
Due: pylint, apply-copyright-notice, custom-python-lint

move dev reqs into Pipfile
  Pipfile
  Pipfile.lock
  requirements-dev.txt
Due: none

system install
  .circleci/config.yml
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
  scripts/requirements/freeze_requirements.sh
  test/run_client_integration_tests.sh
Due: none

move linux reqs to Pipfile
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  requirements-dev.txt
  requirements-linux.txt
  requirements-to-freeze.txt
  requirements.txt
Due: none

update hash to see if test works
  requirements.txt
Due: none

ignore pipfile
  .circleci/config.yml
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
  test/run_client_integration_tests.sh
Due: none

pipenv venv
  .circleci/config.yml
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
  test/run_client_integration_tests.sh
Due: none

dont specify python
  docker/images/python-development/Dockerfile
Due: none

venv in project
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
  test/run_client_integration_tests.sh
Due: none

pipenv deploy
  .circleci/config.yml
Due: none

pin sqlalchemy more
  Pipfile
  Pipfile.lock
Due: none

still need to configure pyenv
  .circleci/config.yml
Due: none

ignore pkg_resources deprecation warning
  pytest.ini
Due: none

install in pipenv
  test/run_client_integration_tests.sh
Due: none

fix
  .circleci/config.yml
Due: none

./
  test/run_client_integration_tests.sh
Due: none

fix pipenv install in client integration test
  test/run_client_integration_tests.sh
Due: none

just mount the whole project
  docker-compose.yml
Due: none

revert pytest.ini
  pytest.ini
Due: none

no more requirements.txt
  .pre-commit-config.yaml
Due: none

remove python requirements freeze instructions
  scripts/requirements/README.md
Due: apply-copyright-notice

remove debugging line
  docker/images/python-development/Dockerfile
Due: none

writable volume mount for sigopt-python
  docker-compose.yml
Due: none

remove yarn_command.sh
  scripts/requirements/yarn_command.sh
Due: none

remove from readme
  scripts/requirements/README.md
Due: apply-copyright-notice

build docker images before starting
  scripts/launch/all_live.sh
Due: none

fine, not readonly
  docker-compose.yml
Due: none

quiet pipenv
  .circleci/config.yml
  docker/images/python-development/Dockerfile
  docker/images/test-runner/Dockerfile
  docker/images/zigopt/Dockerfile
  test/run_client_integration_tests.sh
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  pylint: any of: \.py$
  apply-copyright-notice: any of: \.(md|markdown|mdown)$, \.py$
  custom-python-lint: any of: \.py$
