Repository sigopt/sigopt-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint, crosshair

eslint:
  name: eslint
  entry: yarn -s eslint
  args:
  - --fix
  description: An AST-based pattern checker for JavaScript.
  language: system

pylint:
  name: pylint
  entry: ./pp pylint
  language: system
  args:
  - -rn
  - -sn

crosshair:
  name: crosshai
  entry: ./pp crosshair
  language: system
  args:
  - --per_path_timeout=0.01
  - --per_condition_timeout=1
  - --analysis_kind=deal

1gb shared memory
  docker-compose.yml
Due: none

dac_override, not fowner
  docker-compose.yml
Due: none

Coverity findings: dead code (#538)
  src/python/zigopt/authentication/login.py
  web/js/alert/panel.js
Due: eslint, pylint, crosshair

tmpfs at /root/ bad
  docker-compose.yml
Due: none

Coverity findings: limit container capabilities (#540)
  docker-compose.yml
Due: none

test-runner too hard to read-only-ify
  docker-compose.yml
Due: none

Coverity findings: container read only root fs (#544)
  docker-compose.yml
Due: none

update trivyignore expat1 again
  .trivyignore
Due: none

onClick -> onChange
  web/js/pages/project/analysis/widgets/parameter_range_widget/widget.js
Due: eslint

update trivyignore expat1 again (#559)
  .trivyignore
Due: none

Version bump ossf
  .github/workflows/scorecard.yml
Due: none

Fix typo
  .github/workflows/scorecard.yml
Due: none

Version bump ossf (#569)
  .github/workflows/scorecard.yml
Due: none

aiosmptd-bump
  Pipfile
  Pipfile.lock
Due: none

aiosmptd-bump (#588)
  Pipfile
  Pipfile.lock
Due: none

gunicorn enforce bump
  Pipfile
Due: none

change codeowners
  CODEOWNERS
Due: none

change codeowners (#617)
  CODEOWNERS
Due: none

run flake8 on gha because pre-commit ci is having issues
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

run flake8 on gha because pre-commit ci is having issues (#618)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

another unfixed vulnerability
  .trivyignore
Due: none

empty trivyignore
  .trivyignore
Due: none

keep some unfixed vulns in trivyignore
  .trivyignore
Due: none

another unfixed vulnerability (#620)
  .trivyignore
Due: none

add peer deps
  ci/check_node_deps.sh
  package.json
  yarn.lock
Due: none

add peer deps (#621)
  ci/check_node_deps.sh
  package.json
  yarn.lock
Due: none

Audit ignored vulnerabilities (#622)
  .trivyignore
Due: none

updated pipfile lock
  Pipfile.lock
Due: none

updated pipfile lock (#623)
  Pipfile.lock
Due: none

remove java examples and codegen
  DEVELOPMENT.md
  web/js/component/code_block.js
  web/js/component/code_generator/base.js
  web/js/component/code_generator/java.js
  web/js/component/code_generator/java_experiment.ms
  web/js/highlight/index.js
  web/js/pages/docs/templates/franke_java_p1.ms
  web/js/pages/experiment/common/api/page.js
  web/js/pages/project/components/project_code_modal.js
Due: eslint

remove dead code
  web/js/component/code_generator/base.js
  web/js/component/code_generator/java_experiment_footer.ms
  web/js/component/code_generator/utils.js
Due: eslint

remove R
  web/js/component/code_block.js
  web/js/component/code_generator/base.js
  web/js/component/code_generator/r.js
  web/js/highlight/index.js
  web/js/pages/experiment/common/api/page.js
  web/js/pages/project/components/project_code_modal.js
Due: eslint

remove matlab
  web/js/component/code_block.js
  web/js/highlight/index.js
Due: eslint

rm dockerfile
  web/js/component/code_block.js
  web/js/highlight/index.js
Due: eslint

remove dead code
  web/js/component/code_generator/r_experiment.ms
  web/js/pages/docs/templates/franke_r_p1.ms
Due: none

remove java from test
  test/integration/browser/tests/interaction/project/detail.py
Due: pylint, crosshair

remove r from test
  test/integration/browser/tests/interaction/project/detail.py
Due: pylint, crosshair

Remove java examples and codegen (#624)
  DEVELOPMENT.md
  test/integration/browser/tests/interaction/project/detail.py
  web/js/component/code_block.js
  web/js/component/code_generator/base.js
  web/js/component/code_generator/java.js
  web/js/component/code_generator/java_experiment.ms
  web/js/component/code_generator/java_experiment_footer.ms
  web/js/component/code_generator/utils.js
  web/js/highlight/index.js
  web/js/pages/docs/templates/franke_java_p1.ms
  web/js/pages/experiment/common/api/page.js
  web/js/pages/project/components/project_code_modal.js
Due: eslint, pylint, crosshair

Remove other language examples and support (#625)
  test/integration/browser/tests/interaction/project/detail.py
  web/js/component/code_block.js
  web/js/component/code_generator/base.js
  web/js/component/code_generator/r.js
  web/js/component/code_generator/r_experiment.ms
  web/js/highlight/index.js
  web/js/pages/docs/templates/franke_r_p1.ms
  web/js/pages/experiment/common/api/page.js
  web/js/pages/project/components/project_code_modal.js
Due: eslint, pylint, crosshair

assign to chris and taylor
  .github/auto_assign-issues.yml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  pylint: any of: \.py$
  crosshair: any of: \.py$
